{% extends "base.html" %}

{% block title %}
    Admin Article
{% endblock %}

{% block content %}
    <div class="btn-toolbar">
        <div class="btn-group">
            {% url "editarturl" as theaddarticleurl %}
            <a class="btn btn-default {%if request.path = theaddarticleurl%} active {%endif%}" href={{ theaddarticleurl }}><span class="glyphicon glyphicon-edit"></span>添加文章</a>
            {% url "listarticleurl" as thelistarticleurl%}
            <a class="btn btn-default {%if request.path = thelistarticleurl%} active {%endif%}" href={{ thelistarticleurl }}><span class="glyphicon glyphicon-list"></span>文章列表</a>
        </div>
    </div>

    <hr/>

    <table class="table table-hover table-striped  table-bordered table-condensed">
        <tr>
            <th>标题</th>
            <th>分组</th>
            <th>作者</th>
            <th>创建时间</th>
            <th>修改时间</th>
            <th>操作</th>
        </tr>

            {% for i in articles %}
                <tr style="font-size: 13px;">
                    <td>{{ i.title}}</td>
                    <td>{{ i.group|default:"----" }}</td>
                    <td>{{ i.author|default:"----" }}</td>
                    <td>{{ i.intime }}</td>
                    <td>{{ i.uptime }}</td>
                    <td>
                        {% if i.is_active %}
                            <span class="label label-success">启用</span>
                        {% else %}
                            <span class="label label-default">禁用</span>
                        {% endif %}
                    </td>
                    <td class="host_buttom">
                        <a class="btn btn-warning btn-xs"  href={% url "edituserurl" i.id %} onclick="return confirm('是否确认编辑？')">编辑</a>
                        <a class="btn btn-danger btn-xs" href={% url "deleteuserurl" i.id %} onclick="return confirm('是否确认删除？')">删除</a>
                    </td>
                </tr>
            {% endfor %}

        </table>

    <!-- {% include "common/paginator.html" %} -->
{% endblock %}
