{% extends "base.html" %}

{% block title %}
    Admin Article
{% endblock %}

{% block content %}
    <form id="editText" class="form-horizontal" role="form" action={% url "editarturl" %} method="POST" >
    {% csrf_token %}

        <div class="form-group">
            <label class="control-label col-md-1">{{form.title.label}}</label>
            <div class="col-md-2">
                    {{form.title}}
            </div>
            <div class="col-md-offset-1 col-md-10">
                    {{form.title.errors}}
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-1">{{form.group.label}}</label>
            <div class="col-md-2">
                    {{form.group}}
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-1">{{form.tags.label}}</label>
            <div class="col-md-2">
                    {{form.tags}}
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-1">{{form.author.label}}</label>
            <div class="col-md-2">
                    {{form.author}}
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-1">{{form.content.label}}</label>
                {{ form.content }}
        </div>

        <hr>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <button type="submit" class="btn btn-danger btn-sm">新 增</button>
            </div>
        </div>


    </form>

    <script type="text/javascript" src='/static/js/wangEditor-1.3.0.min.js'></script>
    <script type="text/javascript">
        var frm = $('#editText');
        $(function(){
            $('#id_content').wangEditor();

            //获取源码值
            var $textareaValue = $('#textareaValue');
            $('#btnGetValue').click(function(e){
                var html = $('#textarea1').val();
                $textareaValue.show();
                $textareaValue.val(html);
            });
        });
    </script>
{% endblock %}
