{% extends "base.html" %}

{% block title %}
    Admin Article
{% endblock %}

{% block content %}
    <div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="请输入标题" aria-describedby="basic-addon2">
        </div>

        <hr>

        <textarea id='textarea1' style='height:200px; width:100%;'></textarea>

        <!-- <button id='btnGetValue' style='margin:10px 0px;'>获取富文本框的源码值</button> -->
        <textarea id='textareaValue' style='height:150px; width:100%; display:none;'></textarea> 

    </div>

    <script type="text/javascript" src='/static/js/wangEditor-1.3.0.min.js'></script>
    <script type="text/javascript">
        $(function(){
            $('#textarea1').wangEditor();

            //获取源码值
            var $textareaValue = $('#textareaValue');
            $('#btnGetValue').click(function(e){
                var html = $('#textarea1').val();
                $textareaValue.show();
                $textareaValue.val(html);
            });
        });
    </script>
{% endblock %}
